<% if notice %>
  <%= notice %>
<% end %>

<h1>Images</h1>
<p>
  <%= link_to "Create Image", new_image_path %>
</p>

<% @images.each do |image| %>
  <p>
    <%= image_tag image.image_url(:preview), :id => "image" %>
    <p>Image Description: <%= image.description %> </p>
    <p>Create At</p> <%= image.created_at %>
    <p>Updated At</p> <%= image.updated_at %>
    <p>
      <%= link_to "Show", image_path(image[:id]) %>
      <%= link_to "Edit", edit_image_path(image[:id]) %>
      <%= link_to "Destroy", image_path(image[:id]), method: :delete, data: {confirm: "Are you sure?"} %>
    </p>
  </p>
<% end %>
