
<% if notice %>
  <%= notice %>
<% end %>

<h1>Image Show Page</h1>
<%= link_to "Index", root_path %>
<!-- crossorigin="anonymous" -->
<div class="picture-container">
  <img id="picture" crossorigin="anonymous" class="picture" src="<%= @image.image.url %>">
</div>


<p>
Description: <%= @image.description %>
</p>
  <button class="detect">Extract Faces</button>
<p>
  <%= link_to "Edit Image", edit_image_path(@image) %>
  <%= link_to "Delete Image", image_path(@image), method: :delete, data: {confirm: "Are you sure?"} %>
  <% content_for :javascripts do %>
</p>

<button name="save" class="save-subs">Save Faces</button>

<% end %>
