<% if notice %>
  <%= notice %>
<% end %>

<h1>Image Show Page</h1>
<p>
  Image: <%= image_tag @image.image_url(:preview), :id => "image" %>
</p>
<p>
  Description: <%= @image.description %>
</p>
<%= link_to "Edit Image", edit_image_path(@image) %>
<%= link_to "Delete Image", image_path(@image), method: :delete, data: {confirm: "Are you sure?"} %>
<% content_for :javascripts do %>
  <script charset="utf-8">
  $('#image').faceDetection({
    complete: function (faces) {
      console.log(faces);
    }
  });
  </script>
<% end %>

<!-- for (var i = 0; i < faces.length; i++) {
  var face = faces[i];
  im.rectangle(
    [face.x, face.y],
    [face.x + face.width, face.y + face.height],
    [0, 255, 0],
    2
  );
} -->
