<!DOCTYPE html>
<html>
<head>
  <title>Remember</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="homepage">

<%= yield %>
<%= javascript_include_tag 'application' %>
<%= content_for(:javascripts) %>
</body>
</html>
